@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary: 171 189 171;
        --primary-foreground: 6 8 6;

        --background: 6 8 6;
        --foreground: 234 239 234; /* --text */

        --card-foreground: 234 239 234;

        --secondary: 35 45 42;
        --secondary-foreground: 234 239 234; /* Taki sam jak --text */

        --muted: 35 45 42;
        --muted-foreground: 125 153 148;

        --accent: 125 153 148;
        --accent-foreground: 6 8 6;

        --text: 234 239 234;

        --border: 35 45 42;
        --input: 35 45 42;

        --ring: 125 153 148;

        --radius: 0.5rem;
    }

    body {
        @apply bg-background text-foreground antialiased;
    }
}

@layer components {
    .container {
        @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
    }

    .btn {
        @apply inline-flex items-center justify-center rounded-md px-4 py-2 text-sm font-bold transition-all
        focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-accent focus-visible:ring-offset-2 focus-visible:ring-offset-background
        disabled:pointer-events-none disabled:opacity-50 active:scale-95;
    }

    .btn-primary {
        @apply bg-accent text-accent-foreground hover:bg-accent/90 shadow-md;
    }

    input,
    textarea,
    select {
        @apply bg-secondary/50 border border-secondary-foreground/30 text-text rounded-md px-3 py-2
        focus:border-accent focus:ring-1 focus:ring-accent focus:outline-none transition-colors;
    }

    input::placeholder,
    textarea::placeholder {
        @apply text-text-muted/70;
    }
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    @apply bg-background;
}

::-webkit-scrollbar-thumb {
    @apply bg-secondary border-2 border-background rounded-full;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-accent/70;
}
